.container {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    user-select: none;
    touch-action: none;
    position: relative;
    display: flex;
    flex-direction: column;
}

.container>.header {
    color: #eee;
    text-wrap: nowrap;
    overflow: hidden;
}

.container:has(input:checked) {
    position: fixed !important;
    inset: 0;
    width: 100% !important;
    height: 100% !important;
}

.container>.main {
    pointer-events: none;
    position: relative;
    flex-grow: 1;
    container-type: size;
}

.container>.main>.floatbox {
    overflow: hidden;
    text-align: center;
    height: 100%;
}

.container>.main>.floatbox>canvas {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.container>.main>.fixbox {
    position: absolute;
    aspect-ratio: 1 / 1;
    max-width: 5.5cm;
    inline-size: min(calc(100cqw / 2), 100cqh);
}

.container>.main>.fixbox>img {
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

.container>.main>.bl {
    bottom: 0;
    left: 0;
}

.container>.main>.br {
    bottom: 0;
    right: 0;
}

#gd_container {
    width: 640px;
    height: 480px;
    background-color: #111 !important;
}

#gd_main {
    image-rendering: pixelated;
}