#gd_container {
    background-color: #111 !important;
    position: fixed;
    inset: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    user-select: none;
    touch-action: none;
}

#gd_container>* {
    pointer-events: none;
}

#gd_main {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    image-rendering: pixelated;
    object-fit: contain;
}

#gd_overlay {
    position: absolute;
    inset: 0px;
}

.box_parent {
    width: 100%;
    height: 100%;

    /* 下から左右に分けて配置 */
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    container-type: size;
}

.box {
    /* サイズ制御 */
    max-width: 4cm;
    aspect-ratio: 1 / 1;

    /* ボックス横並びの重なり防止 */
    inline-size: min(calc(100cqw / 2), 100cqh);

    background-color: #fff1;
}